.center-text {
    text-align: center;
}

.center-image {
    text-align: center;
}

body {
    background-color: #333333; /* A dark gray for the background */
    color: #ffffff; /* White color for the text */
}

.inline-image {
    vertical-align: middle;
}

 
body {
    font-family: 'Vazirmatn', sans-serif;
}
